$link-color: #646cff;
$link-hover: #535bf2;

$bg-dark: #242424;
$text-dark: rgba(255, 255, 255, 0.87);

$bg-light: #ffffff;
$text-light: #213547;
$link-hover-light: #747bff;

$btn-bg-dark: #1a1a1a;
$btn-bg-light: #f9f9f9;
